[Desktop Entry]
Encoding=UTF-8
Name=IDEA
Exec=LAUNCHER_DIR/launcher.sh IDEA_IU IDE_DIR/bin/idea.sh
Icon=IDE_DIR/bin/idea128.png
Type=Application
Categories=Development;
StartupWMClass=IDEA_IU
