[Desktop Entry]
Encoding=UTF-8
Name=PyCharm
Exec=LAUNCHER_DIR/launcher.sh PyCharm IDE_DIR/bin/pycharm.sh
Icon=IDE_DIR/bin/PyCharm_32.png
Type=Application
Categories=Development;
StartupWMClass=PyCharm
